html,
body,
div,
h1,
h2,
button,
a,
li,
ul {
  padding: 0px;
  margin: 0px;
}

html,
body,
#timerBox {
  height: 75vh;
}

body {
  text-align: center;
  font-family: "Arial";
  background-color: blueviolet;
}

#timerBox {
  /* border-color: blue;
	border-style: solid; */
  font-weight: 600;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  font-weight: 600;
  /* border-color: rgb(0, 0, 92);
	border-style: solid; */
  margin: 0 auto;
  font-size: 20vw;
}

h1 {
  color: white;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 20px;
}

button {
  width: 100px;
  height: 35px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

button:hover {
  cursor: pointer;
  font-weight: 900;
  outline: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
